record(calcout, "$(PriSys){$(PSC)}$(RegName)Reg")
{
        field(DESC, "Test Reg")	
        field(INPA, "$(PriSys){$(PSC)}$(RegName)")
        field(CALC, "A*1000000")
        field(OUT,  "$(PriSys){$(PSC)}$(RegName)Reg-out PP") 
        field(FLNK, "$(PriSys){$(PSC)}$(RegName)Reg-out")
}

record(longout, "$(PriSys){$(PSC)}$(RegName)Reg-out") {
  info(autosaveFields, "VAL")
  field(SCAN, "$(SCAN)")
  field(HOPR,"$(HOPR)")
  field(LOPR,"$(LOPR)")
  field(DTYP, "PSC Reg")
  field(OUT , "@CmdPort_$(PSC) 80 $(RegIndex)")
  field(FLNK, "$(PriSys){$(PSC)}regsend")
}



